VITE_FIREBASE_API_KEY="AIzaSyB6XBWozjQ4J9JLff87OkSIvVf2nqrH7_c"
VITE_FIREBASE_AUTH_DOMAIN="bog-321.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="bog-321"
VITE_FIREBASE_STORAGE_BUCKET="bog-321.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="446849495906"
VITE_FIREBASE_APP_ID="1:446849495906:web:98f9d665b415281e9fb23b"
